<?xml version="1.0"?>
<hivemq xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="hivemq-config.xsd">
    <listeners>
        <tcp-listener>
            <port>${HIVEMQ_TCP_PORT}</port>
            <bind-address>0.0.0.0</bind-address>
        </tcp-listener>
        <!--<tls-tcp-listener>-->
            <!--<port>${HIVEMQ_TCP_TLS_PORT}</port>-->
            <!--<bind-address>0.0.0.0</bind-address>-->
            <!--<tls>-->
                <!--<keystore>-->
                    <!--<path>/opt/hivemq/cert/hivemq_keystore.jks</path>-->
                    <!--<password>${HIVEMQ_KEYSTORE_PASSWORD}</password>-->
                    <!--<private-key-password>${HIVEMQ_PRIVATE_KEY_PASSWORD}</private-key-password>-->
                <!--</keystore>-->
                <!--<truststore>-->
                    <!--<path>/opt/hivemq/cert/hivemq_truststore.jks</path>-->
                    <!--<password>${HIVEMQ_TRUSTSTORE_PASSWORD}</password>-->
                <!--</truststore>-->
                <!--<client-authentication-mode>${HIVEMQ_TLS_CLIENT_AUTHENTICATION_MODE}</client-authentication-mode>-->
            <!--</tls>-->
        <!--</tls-tcp-listener>-->
        <websocket-listener>
            <port>${HIVEMQ_WEBSOCKET_PORT}</port>
            <bind-address>0.0.0.0</bind-address>
            <path>/mqtt</path>
            <subprotocols>
                <subprotocol>mqttv3.1</subprotocol>
            </subprotocols>
            <allow-extensions>true</allow-extensions>
        </websocket-listener>
        <!--<tls-websocket-listener>-->
            <!--<port>${HIVEMQ_WEBSOCKET_TLS_PORT}</port>-->
            <!--<bind-address>0.0.0.0</bind-address>-->
            <!--<path>/mqtt</path>-->
            <!--<allow-extensions>true</allow-extensions>-->
            <!--<subprotocols>-->
                <!--<subprotocol>mqttv3.1</subprotocol>-->
            <!--</subprotocols>-->
            <!--<tls>-->
                <!--<keystore>-->
                    <!--<path>/opt/hivemq/cert/hivemq_keystore.jks</path>-->
                    <!--<password>${HIVEMQ_KEYSTORE_PASSWORD}</password>-->
                    <!--<private-key-password>${HIVEMQ_PRIVATE_KEY_PASSWORD}</private-key-password>-->
                <!--</keystore>-->
                <!--<truststore>-->
                    <!--<path>/opt/hivemq/cert/hivemq_truststore.jks</path>-->
                    <!--<password>${HIVEMQ_TRUSTSTORE_PASSWORD}</password>-->
                <!--</truststore>-->
                <!--<client-authentication-mode>${HIVEMQ_TLS_CLIENT_AUTHENTICATION_MODE}</client-authentication-mode>-->
            <!--</tls>-->
        </tls-websocket-listener>
    </listeners>
</hivemq>